In [2]:

import pandas as pd
all_df = []
for year in range(2010,2022):
    filename = f'COMMVEH_{year}_Statewide.csv'
    df = pd.read_csv(filename)
    df['Year'] = year
    all_df.append(df)

merged_df = pd.concat(all_df)

# Write the merged data to a new CSV file
merged_df.to_csv('COMMVEH_2010_to_2020_Statewide.csv', index=False)

In [3]:
columns_to_keep = ['CRN', 'Year']

In [4]:
df = merged_df[columns_to_keep]

# Write the new dataframe to a csv file
df.to_csv('COMMVEH_2010_to_2020_Statewide.csv', index=False)

In [5]:
import pandas as pds
all_dfR = []
for year in range(2010,2022):
    filename = f'ROADWAY_{year}_Statewide.csv'
    df = pds.read_csv(filename)
    df['Year'] = year
    all_dfR.append(df)

merged_df = pd.concat(all_dfR)

# Write the merged data to a new CSV file
merged_df.to_csv('ROADWAY_2010_2021_Statewide.csv', index=False)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3020570869.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pds.read_csv(filename)
/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3020570869.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pds.read_csv(filename)
/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3020570869.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pds.read_csv(filename)

In [6]:
columns_to_keep = ['CRN', 'Year','SPEED_LIMIT','STREET_NAME','LANE_COUNT','ROAD_OWNER']

In [7]:
df = merged_df[columns_to_keep]

# Write the new dataframe to a csv file
df.to_csv('ROADWAY_2010_2021_Statewide.csv', index=False)

In [8]:
df['ROAD_OWNER'].replace(1, 'Interstate', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/1854986547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(1, 'Interstate', inplace=True)

In [9]:
df['ROAD_OWNER'].replace(2, 'State highway', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3895695499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(2, 'State highway', inplace=True)

In [10]:
df['ROAD_OWNER'].replace(3, 'County road', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/2101622631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(3, 'County road', inplace=True)

In [11]:
df['ROAD_OWNER'].replace(4, 'Local road', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3708286228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(4, 'Local road', inplace=True)

In [12]:
df['ROAD_OWNER'].replace(5, 'East-West portion of turnpike', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/2561002443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(5, 'East-West portion of turnpike', inplace=True)

In [13]:
df['ROAD_OWNER'].replace(6, 'Turnpike spur', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/1995811060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(6, 'Turnpike spur', inplace=True)

In [14]:
df['ROAD_OWNER'].replace(7, 'Private Road', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3703276797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(7, 'Private Road', inplace=True)

In [15]:
df['ROAD_OWNER'].replace(9, 'Other or Unknown', inplace=True)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27113/3419459239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ROAD_OWNER'].replace(9, 'Other or Unknown', inplace=True)

In [16]:
df.to_csv('ROADWAY_2010_2021_Statewide.csv', index=False)

In [22]:
import pandas as pdss
all_dfC = []
for year in range(2010,2022):
    filename = f'CRASH_{year}_Statewide.csv'
    df = pdss.read_csv(filename)
    df['Year'] = year
    all_dfC.append(df)

merged_df = pdss.concat(all_dfC)

# Write the merged data to a new CSV filev
merged_df.to_csv('CRASH_2010_2021_Statewide.csv', index=False)

/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27231/146955978.py:5: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pdss.read_csv(filename)
/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27231/146955978.py:5: DtypeWarning: Columns (97,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pdss.read_csv(filename)
/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27231/146955978.py:5: DtypeWarning: Columns (94,96,97,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pdss.read_csv(filename)
/var/folders/4c/0rjvfr695_z4vl4pl12z6bzc0000gn/T/ipykernel_27231/146955978.py:5: DtypeWarning: Columns (94,96) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pdss.read_csv(filename)

In [23]:
columns_to_keep = ['CRN', 'Year','ROAD_CONDITION']

In [24]:
df = merged_df[columns_to_keep]

# Write the new dataframe to a csv file
df.to_csv('CRASH_2010_2021_Statewidess.csv', index=False)

In [25]:
df1= pd.read_csv("CRASH_2010_2021_Statewidess.csv")

In [26]:
null_values = df1[column_name].isnull().sum()

In [27]:
print("Number of null values in column '{}': {}".format(column_name, null_values))

Number of null values in column 'ROAD_CONDITION': 1

In [28]:
column_name = 'ROAD_CONDITION'
column_contents = df1[column_name]

# Print the contents of the column
print(column_contents)

0           2.0
1           9.0
2           7.0
3           2.0
4           9.0
           ...
1479356     1.0
1479357     1.0
1479358     1.0
1479359     1.0
1479360    99.0
Name: ROAD_CONDITION, Length: 1479361, dtype: float64

In [29]:
df1['ROAD_CONDITION'].replace(0.0, 'Dry', inplace=True)

In [30]:
df1['ROAD_CONDITION'].replace(1.0, 'Ice', inplace=True)

In [31]:
df1['ROAD_CONDITION'].replace(2.0, 'Mud', inplace=True)

In [32]:
df1['ROAD_CONDITION'].replace(3.0, 'Oil', inplace=True)

In [33]:
df1['ROAD_CONDITION'].replace(4.0, 'Sand', inplace=True)

In [34]:
df1['ROAD_CONDITION'].replace(5.0, 'Slush', inplace=True)

In [35]:
df1['ROAD_CONDITION'].replace(6.0, 'Snow', inplace=True)

In [36]:
df1['ROAD_CONDITION'].replace(7.0, 'Water', inplace=True)

In [37]:
df1['ROAD_CONDITION'].replace(8.0, 'Wet', inplace=True)

In [38]:
df1['ROAD_CONDITION'].replace(9.0, 'Mud', inplace=True)

In [39]:
df1['ROAD_CONDITION'].replace(98.0, 'Other', inplace=True)

In [40]:
df1['ROAD_CONDITION'].replace(99.0, 'Unknown', inplace=True)

In [41]:
df1.to_csv('CRASH_2010_2021_StatewideCorrect.csv', index=False)

In [8]:
import pandas as pdsss

In [42]:
df1= pd.read_csv("CRASH_2010_2021_StatewideCorrect.csv")

In [43]:
column_name = 'ROAD_CONDITION'
column_contents = df1[column_name]

# Print the contents of the column
print(column_contents)

0              Mud
1              Mud
2            Water
3              Mud
4              Mud
            ...
1479356        Ice
1479357        Ice
1479358        Ice
1479359        Ice
1479360    Unknown
Name: ROAD_CONDITION, Length: 1479361, dtype: object

In [44]:
null_values = df1[column_name].isnull().sum()

In [45]:
print("Number of null values in column '{}': {}".format(column_name, null_values))

Number of null values in column 'ROAD_CONDITION': 1

In [ ]:
import pandas as pd

In [47]:
df1= pd.read_csv("CRASH_2010_2021_StatewideCorrect.csv")

In [48]:
df2= pd.read_csv("ROADWAY_2010_2021_Statewide.csv")

In [49]:
merged_df = pd.merge(df1, df2, on='CRN')

In [50]:
merged_df.to_csv("ROAD_CRASH.csv", index=False)

In [106]:
import pandas as pds
all_dfR = []
for year in range(2010,2022):
    filename = f'FLAG_{year}_Statewide.csv'
    df = pds.read_csv(filename)
    df['Year'] = year
    all_dfR.append(df)

merged_df = pd.concat(all_dfR)

# Write the merged data to a new CSV file
merged_df.to_csv('FLAG_2010_2020_Statewide.csv', index=False)

In [109]:
merged_df

,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,COMM_VEHICLE,...,URBAN,VEHICLE_FAILURE,VEHICLE_TOWED,WET_ROAD,WORK_ZONE,CHILD_PASSENGER,MATURE_DRIVER,YOUNG_DRIVER,RAMP,Year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2010
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2010
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2010
3,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,2010
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,1,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117915,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,1,0,2021
117916,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,2021
117917,1,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,2021
117918,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,2021
117919,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,2021

In [35]:
import pandas as pd

# Load your data into a pandas DataFrame
df = pd.read_csv('FLAG_2010_2020_Statewide.csv')

# Create a new DataFrame that combines all columns with 1's and 0's
combined_df = df[['ALCOHOL_RELATED', 'DRINKING_DRIVER',"DRUGGED_DRIVER",'ILLEGAL_DRUG_RELATED','IMPAIRED_DRIVER','MC_DRINKING_DRIVER','OPIOID_RELATED','DRUG_RELATED']]

# Calculate the sum of all the 1's in the combined DataFrame
ones = combined_df.sum().sum()
combined_df1 = df[['ANGLE_CRASH', 'BACKUP_CONGESTION','BACKUP_NONRECURRING','BACKUP_PRIOR','CORE_NETWORK','CROSS_MEDIAN','CURVE_DVR_ERROR','CURVED_ROAD','ICY_ROAD','INTERSECTION','INTERSTATE','LANE_DEPARTURE','LEFT_TURN','LOCAL_ROAD','LOCAL_ROAD_ONLY','NO_CLEARANCE','OTHER_FREEWAY','PEDESTRIAN','SNOW_SLUSH_ROAD','UNSIGNALIZED_INT','WET_ROAD']]
# Calculate the sum of all the 1's in the combined DataFrame
two = combined_df1.sum().sum()
combined_df2 = df[['YOUNG_DRIVER','UNLICENSED','UNBELTED','SPEEDING','SPEEDING_RELATED','HIT_BRIDGE','HIT_BARRIER','HIT_DEER','HIT_EMBANKMENT','HIT_FIXED_OBJECT','HIT_GDRAIL','HIT_POLE','HIT_TREE_SHRUB','DISTRACTED','CELL_PHONE','AGGRESSIVE_DRIVING']]

three = combined_df2.sum().sum()



print("The number of 1's in the combined columns is:", ones)
df['Person']=ones
# Print the result
print("The number of 1's in the combined columns is:", two)
df['Road']=two
# Print the result
print("The number of 1's in the combined columns is:", three)
df['ALOCHOL']=three
df.to_csv('FLAG_COLUMNS.csv', index=False)

The number of 1's in the combined columns is: 507522
The number of 1's in the combined columns is: 4322100
The number of 1's in the combined columns is: 2790950

In [36]:

columns_to_keep = ['Person', 'Road', 'ALOCHOL','CRN','Year']
df = df[columns_to_keep]

# Save the updated DataFrame to a new CSV file
df.to_csv('FLAG_COLUMNS.csv', index=False)

In [37]:
df

         Person     Road  ALOCHOL         CRN  Year
0        507522  4322100  2790950  2010042008  2010
1        507522  4322100  2790950  2010042787  2010
2        507522  4322100  2790950  2010048100  2010
3        507522  4322100  2790950  2011000036  2010
4        507522  4322100  2790950  2011000255  2010
...         ...      ...      ...         ...   ...
1479356  507522  4322100  2790950  2021070242  2021
1479357  507522  4322100  2790950  2021059385  2021
1479358  507522  4322100  2790950  2021045243  2021
1479359  507522  4322100  2790950  2021057108  2021
1479360  507522  4322100  2790950  2021120526  2021

[1479361 rows x 5 columns]

In [25]:
df = pd.read_csv('FLAG_2010_2020_Statewide.csv')
combined_df1 = df[['ANGLE_CRASH', 'BACKUP_CONGESTION','BACKUP_NONRECURRING','BACKUP_PRIOR','CORE_NETWORK','CROSS_MEDIAN','CURVE_DVR_ERROR','CURVED_ROAD','ICY_ROAD','INTERSECTION','INTERSTATE','LANE_DEPARTURE','LEFT_TURN','LOCAL_ROAD','LOCAL_ROAD_ONLY','NO_CLEARANCE','OTHER_FREEWAY','PEDESTRIAN','SNOW_SLUSH_ROAD','UNSIGNALIZED_INT','WET_ROAD']]
ones = combined_df1.sum().sum()
combined_df2 = df[['YOUNG_DRIVER','UNLICENSED','UNBELTED','SPEEDING','SPEEDING_RELATED','HIT_BRIDGE','HIT_BARRIER','HIT_DEER','HIT_EMBANKMENT','HIT_FIXED_OBJECT','HIT_GDRAIL','HIT_POLE','HIT_TREE_SHRUB','DISTRACTED','CELL_PHONE','AGGRESSIVE_DRIVING']]

ones = combined_df2.sum().sum()



print("The number of 1's in the combined columns is:", ones)
df['Person']=ones
# Print the result
print("The number of 1's in the combined columns is:", ones)
df['Road']=ones
df.to_csv('FLAG_COLUMNS.csv', index=False)

The number of 1's in the combined columns is: 4322100

In [26]:
df = pd.read_csv('FLAG_2010_2020_Statewide.csv')

# Create a new DataFrame that combines all columns with 1's and 0's
combined_df2 = df[['YOUNG_DRIVER','UNLICENSED','UNBELTED','SPEEDING','SPEEDING_RELATED','HIT_BRIDGE','HIT_BARRIER','HIT_DEER','HIT_EMBANKMENT','HIT_FIXED_OBJECT','HIT_GDRAIL','HIT_POLE','HIT_TREE_SHRUB','DISTRACTED','CELL_PHONE','AGGRESSIVE_DRIVING']]
# Calculate the sum of all the 1's in the combined DataFrame
ones = combined_df2.sum().sum()

# Print the result

print("The number of 1's in the combined columns is:", ones)
df['Person']=ones
df.to_csv('FLAG_COLUMNS.csv', index=False)

The number of 1's in the combined columns is: 2790950

,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,COMM_VEHICLE,...,VEHICLE_FAILURE,VEHICLE_TOWED,WET_ROAD,WORK_ZONE,CHILD_PASSENGER,MATURE_DRIVER,YOUNG_DRIVER,RAMP,Year,Person
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2010,2790950
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2010,2790950
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,2010,2790950
3,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2010,2790950
4,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,2010,2790950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479356,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,2021,2790950
1479357,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,2021,2790950
1479358,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,2021,2790950
1479359,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,2021,2790950
1479360,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2021,2790950

KeyError: 'Road'

In [21]:
columns_to_keep = ['Person', 'Road','ALOCHOL']

In [22]:
df = df[columns_to_keep]

# Write the new dataframe to a csv file
df.to_csv('FLAG_2010_2021_COLUMNS.csv', index=False)

KeyError: "['Road', 'ALOCHOL'] not in index"

In [ ]:
# Load your data into a pandas DataFrame
df = pd.read_csv('FLAG_2010_2020_Statewide.csv')

# Create a new DataFrame that combines all columns with 1's and 0's
combined_df = df[['ALCOHOL_RELATED', 'AGGRESSIVE_DRIVING']]

# Calculate the sum of all the 1's in the combined DataFrame
ones = combined_df.sum().sum()

# Print the result
print("The number of 1's in the combined columns is:", ones)

In [115]:
columns_to_keep = ['CRN', 'Year','CELL_PHONE','DISTRACTED','SPEEDING_RELATED','UNBELTED','UNLICENSED','YOUNG_DRIVER','ILLUMINATION_DARK','VEHICLE_FAILURE','DRINKING_DRIVER','DRUG_RELATED','DRUGGED_DRIVER','ILLEGAL_DRUG_RELATED','MC_DRINKING_DRIVER','CURVED_ROAD','CORE_NETWORK','ICY_ROAD','INTERSECTION','INTERSTATE','LANE_DEPARTURE','LEFT_TURN','NON_INTERSECTION','OTHER_FREEWAY','OVERTURNED','RAMP','SNOW_SLUSH_ROAD','STATE_ROAD','WET_ROAD','URBAN','BACKUP_PRIOR','BACKUP_NONRECURRING','BACKUP_CONGESTION','HIT_BARRIER','HIT_BRIDGE','HIT_DEER','HIT_EMBANKMENT','HIT_FIXED_OBJECT','HIT_GDRAIL','HIT_PARKED_VEHICLE','HIT_POLE','HIT_TREE_SHRUB','PEDESTRIAN','ALCOHOL_RELATED']

In [116]:
df = merged_df[columns_to_keep]

# Write the new dataframe to a csv file
df.to_csv('FLAG_2010_2021_Statewidess_COLUMNS.csv', index=False)

In [228]:
df['UNBELTED']

0          NO NEGLEGENCE
1             NEGLEGENCE
2          NO NEGLEGENCE
3          NO NEGLEGENCE
4          NO NEGLEGENCE
               ...
1479356    NO NEGLEGENCE
1479357    NO NEGLEGENCE
1479358    NO NEGLEGENCE
1479359    NO NEGLEGENCE
1479360    NO NEGLEGENCE
Name: UNBELTED, Length: 1479361, dtype: object

In [ ]:
//NEGLEGENCE

In [175]:
df['CELL_PHONE'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [176]:
 df['DISTRACTED'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [177]:
 df['SPEEDING_RELATED'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [230]:
 df['UNBELTED'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [232]:
df['UNBELTED']

0          NO NEGLEGENCE
1             NEGLEGENCE
2          NO NEGLEGENCE
3          NO NEGLEGENCE
4          NO NEGLEGENCE
               ...
1479356    NO NEGLEGENCE
1479357    NO NEGLEGENCE
1479358    NO NEGLEGENCE
1479359    NO NEGLEGENCE
1479360    NO NEGLEGENCE
Name: UNBELTED, Length: 1479361, dtype: object

In [179]:
df['UNLICENSED'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [180]:
 df['YOUNG_DRIVER'].replace({1: 'NEGLEGENCE', 0: 'NO NEGLEGENCE'}, inplace=True)

In [181]:
//UNIQUE

SyntaxError: invalid syntax (418102175.py, line 1)

In [182]:
 df['ILLUMINATION_DARK'].replace({1: 'UNIQUE', 0: 'NO UNIQUE'}, inplace=True)

In [183]:
 df['VEHICLE_FAILURE'].replace({1: 'UNIQUE', 0: 'NO UNIQUE'}, inplace=True)

In [184]:
//ALOCHOL_RELATED

SyntaxError: invalid syntax (3148791654.py, line 1)

In [185]:
df['DRINKING_DRIVER'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [186]:
df['DRUG_RELATED'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [187]:
 df['DRUGGED_DRIVER'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [188]:
 df['ILLEGAL_DRUG_RELATED'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [189]:
df['MC_DRINKING_DRIVER'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [190]:
df['ALCOHOL_RELATED'].replace({1: 'ALOCHOL_RELATED', 0: 'NO ALOCHOL_RELATED'}, inplace=True)

In [191]:
//ROAD

SyntaxError: invalid syntax (526828367.py, line 1)

In [192]:
df['CURVED_ROAD'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [193]:
 df['CORE_NETWORK'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [194]:
 df['ICY_ROAD'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [195]:
 df['INTERSECTION'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [196]:
df['INTERSTATE'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [197]:
 df['LANE_DEPARTURE'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [198]:
 df['LEFT_TURN'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [199]:
 df['NON_INTERSECTION'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [200]:
 df['OTHER_FREEWAY'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [201]:
df['OVERTURNED'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [202]:
df['RAMP'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [203]:
df['SNOW_SLUSH_ROAD'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [204]:
 df['STATE_ROAD'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [205]:
 df['WET_ROAD'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [206]:
 df['URBAN'].replace({1: 'ROAD ACC', 0: 'NO ROAD ACC'}, inplace=True)

In [207]:
//TRAFFIC REL

SyntaxError: invalid syntax (1365323889.py, line 1)

In [208]:
df['BACKUP_PRIOR'].replace({1: 'TRAFFIC REL', 0: 'NO TRAFFIC REL'}, inplace=True)

In [209]:
 df['BACKUP_NONRECURRING'].replace({1: 'TRAFFIC REL', 0: 'NO TRAFFIC REL'}, inplace=True)

In [210]:
df['BACKUP_CONGESTION'].replace({1: 'TRAFFIC REL', 0: 'NO TRAFFIC REL'}, inplace=True)

In [211]:
//HIT

SyntaxError: invalid syntax (976366331.py, line 1)

In [212]:
 df['HIT_BARRIER'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [213]:
 df['HIT_BRIDGE'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [214]:
 df['HIT_DEER'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [215]:
df['HIT_EMBANKMENT'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [216]:
 df['HIT_FIXED_OBJECT'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [217]:
df['HIT_GDRAIL'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [218]:
df['HIT_PARKED_VEHICLE'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [219]:
df['HIT_POLE'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [220]:
df['HIT_TREE_SHRUB'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [221]:
df['PEDESTRIAN'].replace({1: 'HIT', 0: 'NO HIT'}, inplace=True)

In [222]:
df.to_csv('FLAG_2010_2020_StatewideCORRECT.csv', index=False)

In [233]:
df= pd.read_csv('FLAG_2010_2020_StatewideCORRECT.csv')

In [235]:
column_name = 'PEDESTRIAN'
column_contents = df[column_name]

# Print the contents of the column
print(column_contents)

0          NO HIT
1          NO HIT
2          NO HIT
3          NO HIT
4          NO HIT
            ...
1479356    NO HIT
1479357    NO HIT
1479358    NO HIT
1479359    NO HIT
1479360    NO HIT
Name: PEDESTRIAN, Length: 1479361, dtype: object

In [166]:
column_name = 'ALCOHOL_RELATED'
column_contents = df[column_name]

# Print the contents of the column
print(column_contents)

0          0
1          0
2          0
3          0
4          0
          ..
1479356    0
1479357    0
1479358    0
1479359    0
1479360    0
Name: ALCOHOL_RELATED, Length: 1479361, dtype: int64

In [167]:
selected_rows = df.loc[df['SNOW_SLUSH_ROAD'] == 1]

# Display the resulting DataFrame
print(selected_rows)

                CRN  Year  CELL_PHONE  DISTRACTED  SPEEDING_RELATED  UNBELTED  \
12       2011014063  2010           0           0                 1         0
61       2011001230  2010           0           0                 0         0
62       2011002160  2010           0           0                 1         0
99       2011000136  2010           0           0                 1         0
159      2011022846  2010           0           0                 0         0
...             ...   ...         ...         ...               ...       ...
1479240  2021120059  2021           0           0                 1         0
1479250  2022001017  2021           0           0                 1         1
1479262  2021014389  2021           0           1                 0         0
1479299  2021014701  2021           0           0                 0         1
1479344  2021014773  2021           0           0                 1         0

         UNLICENSED  YOUNG_DRIVER  ILLUMINATION_DARK  VEHICLE_FAILURE  ...  \
12                0             0                  1                0  ...
61                0             0                  1                0  ...
62                0             1                  0                0  ...
99                0             1                  0                0  ...
159               0             0                  1                0  ...
...             ...           ...                ...              ...  ...
1479240           0             0                  0                0  ...
1479250           0             1                  0                0  ...
1479262           0             0                  0                0  ...
1479299           0             0                  0                0  ...
1479344           0             0                  1                0  ...

         HIT_BRIDGE  HIT_DEER  HIT_EMBANKMENT  HIT_FIXED_OBJECT  HIT_GDRAIL  \
12                0         0               1                 1           0
61                0         0               0                 0           0
62                0         0               0                 0           0
99                0         0               0                 0           0
159               0         0               0                 0           0
...             ...       ...             ...               ...         ...
1479240           0         0               0                 1           0
1479250           0         0               0                 1           0
1479262           0         0               0                 1           0
1479299           0         0               0                 0           0
1479344           0         0               0                 1           0

         HIT_PARKED_VEHICLE  HIT_POLE  HIT_TREE_SHRUB  PEDESTRIAN  \
12                        0         0               1           0
61                        0         0               0           0
62                        0         0               0           0
99                        0         0               0           0
159                       0         0               0           0
...                     ...       ...             ...         ...
1479240                   0         0               1           0
1479250                   0         0               1           0
1479262                   0         0               1           0
1479299                   0         0               0           1
1479344                   0         0               0           0

         ALCOHOL_RELATED
12                     1
61                     0
62                     0
99                     0
159                    0
...                  ...
1479240                0
1479250                0
1479262                0
1479299                0
1479344                0

[78855 rows x 44 columns]

In [82]:
df['ALCOHOL_RELATED'].replace(0, 'ALCOHOL_RELATED', inplace=True)

In [83]:
df['SNOW_SLUSH_ROAD'].replace(0, 'No ICY ROAD', inplace=True)

In [84]:
df['SNOW_SLUSH_ROAD'].replace(1, 'ICY ROAD', inplace=True)

In [85]:
df['ALCOHOL_RELATED'].replace(1, 'Yes Alcohol', inplace=True)

In [86]:
df['DRINKING_DRIVER'].replace(0, 'No DRUNK DRIVER', inplace=True)

In [87]:
df['DRINKING_DRIVER'].replace(1, 'Yes DRUNK DRIVER', inplace=True)

In [88]:
df['DISTRACTED'].replace(0, 'No DISTRACTION', inplace=True)

In [89]:
df['DISTRACTED'].replace(1, 'YES DISTRACTION', inplace=True)

In [90]:
df['CELL_PHONE'].replace(0, 'No CELL', inplace=True)

In [91]:
df['CELL_PHONE'].replace(1, 'YES CELL', inplace=True)

In [92]:
df['ICY_ROAD'].replace(0, 'NO ICE', inplace=True)

In [93]:
df['ICY_ROAD'].replace(1, 'YES ICE', inplace=True)

In [94]:
df.to_csv('FLAG_2010_2020_StatewideCORRECT.csv', index=False)

In [95]:
import pandas as pd

# Load the dataset into a DataFrame
df = pd.read_csv('FLAG_2010_2020_Statewide.csv')

In [98]:
column_name = 'ALCOHOL_RELATED'
column_contents = df[column_name]

# Print the contents of the column
print(column_contents)

0          0
1          0
2          0
3          0
4          0
          ..
1479356    0
1479357    0
1479358    0
1479359    0
1479360    0
Name: ALCOHOL_RELATED, Length: 1479361, dtype: int64

In [99]:
selected_rows = df.loc[df['SNOW_SLUSH_ROAD'] == 1]

# Display the resulting DataFrame
print(selected_rows)

         AGGRESSIVE_DRIVING  ALCOHOL_RELATED  ANGLE_CRASH  ATV  \
12                        1                1            0    0
61                        0                0            0    0
62                        1                0            0    0
99                        1                0            0    0
159                       0                0            0    0
...                     ...              ...          ...  ...
1479240                   1                0            0    0
1479250                   1                0            0    0
1479262                   0                0            0    0
1479299                   0                0            0    0
1479344                   1                0            0    0

         BACKUP_CONGESTION  BACKUP_NONRECURRING  BACKUP_PRIOR  BICYCLE  \
12                       0                    0             0        0
61                       0                    0             0        0
62                       0                    0             0        0
99                       0                    0             0        0
159                      0                    0             0        0
...                    ...                  ...           ...      ...
1479240                  0                    0             0        0
1479250                  0                    0             0        0
1479262                  0                    0             0        0
1479299                  0                    0             0        0
1479344                  0                    0             0        0

         CELL_PHONE  COMM_VEHICLE  ...  URBAN  VEHICLE_FAILURE  VEHICLE_TOWED  \
12                0             0  ...      0                0              1
61                0             0  ...      0                0              1
62                0             0  ...      1                0              1
99                0             0  ...      1                0              1
159               0             0  ...      1                0              0
...             ...           ...  ...    ...              ...            ...
1479240           0             0  ...      0                0              1
1479250           0             0  ...      0                0              1
1479262           0             0  ...      0                0              1
1479299           0             0  ...      1                0              0
1479344           0             0  ...      1                0              1

         WET_ROAD  WORK_ZONE  CHILD_PASSENGER  MATURE_DRIVER  YOUNG_DRIVER  \
12              0          0                0              0             0
61              0          0                1              0             0
62              0          0                0              0             1
99              0          0                0              0             1
159             0          0                0              0             0
...           ...        ...              ...            ...           ...
1479240         0          0                0              0             0
1479250         0          0                0              0             1
1479262         0          0                0              0             0
1479299         0          0                0              0             0
1479344         0          0                0              0             0

         RAMP  Year
12          0  2010
61          0  2010
62          0  2010
99          0  2010
159         0  2010
...       ...   ...
1479240     0  2021
1479250     0  2021
1479262     0  2021
1479299     0  2021
1479344     0  2021

[78855 rows x 112 columns]

In [102]:
compared = df.eq(1)

# count the number of times 1 appears in each column
counts = compared.sum()

# find the column with the highest sum
most_ones = counts.idxmax()

print('The column with the most 1s is:', most_ones)

The column with the most 1s is: SNOWMOBILE

In [103]:
column_sums = {}
for column in df:
    column_sums[column] = df[df[column] == 1].count()[0]

# Sort the dictionary by the values in ascending order and store the result in a new dictionary
sorted_columns = dict(sorted(column_sums.items(), key=lambda item: item[1]))

# Print the new dictionary to see the columns ranked in ascending order by the number of "1" values
print(sorted_columns)

{'CRN': 0, 'Year': 0, 'SNOWMOBILE': 63, 'TROLLEY': 310, 'TRAIN': 356, 'BACKUP_NONRECURRING': 404, 'BACKUP_PRIOR': 651, 'TRAIN_TROLLEY': 666, 'HORSE_BUGGY': 741, 'OPIOID_RELATED': 1038, 'BACKUP_CONGESTION': 1472, 'SHLDR_RELATED': 1787, 'HAZARDOUS_TRUCK': 1963, 'ATV': 2694, 'MC_DRINKING_DRIVER': 3755, 'SCHOOL_ZONE': 4969, 'UNLICENSED': 7162, 'FIRE_IN_VEHICLE': 7465, 'HIT_BRIDGE': 7541, 'UNDERAGE_DRNK_DRV': 7815, 'SCHOOL_BUS': 8645, 'PHANTOM_VEHICLE': 8736, 'HIT_GDRAIL_END': 12590, 'CELL_PHONE': 13039, 'FATAL': 13413, 'BICYCLE': 14153, 'LIMIT_70MPH': 17192, 'WORK_ZONE': 21505, 'DRIVER_16YR': 21646, 'ILLEGAL_DRUG_RELATED': 22307, 'TURNPIKE': 23594, 'CROSS_MEDIAN': 28343, 'FATIGUE_ASLEEP': 29723, 'RUNNING_STOP_SIGN': 36712, 'MOTORCYCLE': 40992, 'SUSPECTED_SERIOUS_INJURY': 41416, 'DRUGGED_DRIVER': 42668, 'DRUG_RELATED': 43311, 'HIT_DEER': 45593, 'ICY_ROAD': 48085, 'PEDESTRIAN': 48277, 'SPEEDING': 49181, 'RAMP': 52438, 'FATAL_OR_SUSP_SERIOUS_INJ': 52899, 'RUNNING_RED_LT': 52941, 'CURVE_DVR_ERROR': 54782, 'HIT_BARRIER': 55645, 'DRIVER_17YR': 56013, 'LIMIT_65MPH': 60426, 'SUDDEN_DEER': 62112, 'DEER_RELATED': 62877, 'DRIVER_18YR': 66976, 'DRIVER_20YR': 68192, 'VEHICLE_FAILURE': 68259, 'DRIVER_19YR': 68714, 'OTHER_FREEWAY': 70430, 'HIT_GDRAIL': 71308, 'TAILGATING': 71611, 'SNOW_SLUSH_ROAD': 78855, 'HVY_TRUCK_RELTED': 79059, 'NHTSA_AGG_DRIVING': 79066, 'HIT_EMBANKMENT': 79814, 'HO_OPPDIR_SDSWP': 84036, 'COMM_VEHICLE': 89918, 'OVERTURNED': 90197, 'CHILD_PASSENGER': 93406, 'DRIVER_75PLUS': 93973, 'HIT_PARKED_VEHICLE': 95363, 'NO_CLEARANCE': 99716, 'HIT_TREE_SHRUB': 104222, 'HIT_POLE': 104923, 'INTERSTATE': 121027, 'DRINKING_DRIVER': 121228, 'ALCOHOL_RELATED': 124379, 'DRIVER_65_74YR': 147166, 'IMPAIRED_DRIVER': 148836, 'UNBELTED': 167591, 'DISTRACTED': 170142, 'STOP_CONTROLLED_INT': 171943, 'SUSPECTED_MINOR_INJURY': 215544, 'CORE_NETWORK': 218839, 'SIGNALIZED_INT': 223818, 'LEFT_TURN': 228024, 'MATURE_DRIVER': 232949, 'WET_ROAD': 259264, 'YOUNG_DRIVER': 273191, 'POSSIBLE_INJURY': 277807, 'CURVED_ROAD': 277894, 'REAR_END': 320920, 'UNSIGNALIZED_INT': 336001, 'RURAL': 349533, 'LOCAL_ROAD_ONLY': 366375, 'SPEEDING_RELATED': 368831, 'ANGLE_CRASH': 396007, 'DRIVER_50_64YR': 416167, 'HIT_FIXED_OBJECT': 454486, 'LANE_DEPARTURE': 474767, 'ILLUMINATION_DARK': 491618, 'PSP_REPORTED': 512466, 'SV_RUN_OFF_RD': 544961, 'INTERSECTION': 559819, 'SINGLE_VEHICLE': 594027, 'LOCAL_ROAD': 653068, 'INJURY': 694840, 'INJURY_OR_FATAL': 702950, 'PROPERTY_DAMAGE_ONLY': 728019, 'AGGRESSIVE_DRIVING': 818281, 'MULTIPLE_VEHICLE': 880020, 'NON_INTERSECTION': 919542, 'STATE_ROAD': 1071244, 'URBAN': 1129828, 'VEHICLE_TOWED': 1332783}